<html>
	<head>
		<title><%= metaData.title %> - Hi-Tech Digital CCTV</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=0">
		<meta name="author" content="ChingChing Yeh">
		<meta name="copyright" content="HI-TECH DIGITAL CCTV PTY., LTD">
		<meta name="description" content='<%= metaData.description %>'>
		
		<link href="https://react-redux-demo-chingching.herokuapp.com<%= metaData.image %>" rel='image_src'/>
		<link href="<%= metaData.pathname %>" rel='canonical'/>

		<meta property="og:url" content="<%= metaData.pathname %>"/>	
		<meta property="og:title" content="<%= metaData.title %>" />
		<meta property="og:site_name" content="<%= metaData.siteName %>"/>
		<meta property="og:image" content="https://react-redux-demo-chingching.herokuapp.com<%= metaData.image %>" />
		<meta property="og:description" content="<%= metaData.description %>" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website"/>

		<meta itemprop="name" content="Hi-Tech Digital CCTV">
		<meta itemprop="image" content="https://react-redux-demo-chingching.herokuapp.com<%= metaData.image %>">
		<meta itemprop="description" content="<%= metaData.description %>">	

		<meta name="twitter:card" content="<%= metaData.title %> - Hi-Tech Digital CCTV"> 
		<meta name="twitter:site" content="@Hi-Tech Digital CCTV"> 
		<meta name="twitter:title" content="<%= metaData.title %> - Hi-Tech Digital CCTV"> 
		<meta name="twitter:description" content='<%= metaData.description %>'> 
		<meta name="twitter:image" content="https://react-redux-demo-chingching.herokuapp.com<%= metaData.image %>">

		<link rel="shortcut icon" href="/img/favicon.ico">
		<link rel="apple-touch-icon" href="/img/Icon-60@3x.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/img/Icon-60@3x.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/img/Icon-60@3x.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/img/Icon-60@3x.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/img/Icon-60@3x.png">	
		<meta name="apple-mobile-web-app-title" content="Hi-Tech Digital CCTV">
	
	</head>
	<body>
		<div id="rootWrap"><%- componentHTML %></div>
		<script type="text/javascript" charset="utf-8">
			 window.__REDUX_STATE__ = <%- reduxState %>;
		</script>
		<script type="text/javascript" charset="utf-8">
			<%- manifest %>;
		</script>
		<script defer src='<%- vendorJs %>'></script>
		<script defer src='/build/<%- asset.bundle.js %>'></script>
	</body>
</html>
<link rel="stylesheet" href='/build/css/main.css'>
